<include file="Public:head" />
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
           <div class="row">
               <div class="col-md-2">
                   <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                       <li class="active"><a href="/index.php/home/user/mymsg"><i class="fa fa-home fa-fw"></i>&nbsp;首页</a></li>
                       <li ><a href="/index.php/home/user/myscore"><i class="fa fa-id-badge fa-fw"></i>&nbsp;会员积分</a></li>
                       <li><a href="/index.php/home/user/myimg"><i class="fa fa-superpowers fa-fw"></i>&nbsp;我的头像</a></li>
                       <li><a href="/index.php/home/user/mymsginfo"><i class="fa fa-user-o fa-fw"></i>&nbsp;我的信息</a></li>
                   </ul>
               </div>
               <div class="col-md-10">
                   <div class="panel panel-info">
                       <div class="panel-heading">
                           <h3 class="panel-title">首页&nbsp;<i class="fa fa-home fa-fw"></i></h3>
                       </div>
                       <div class="panel-body">
                          <div class="row">
                                <div class="col-md-2 text-right">
                                    <img src="{$Think.session.img}"  class="img-circle" style="width: 75px;height: 75px;">
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <h3 >{$Think.session.name}</h3>
                                        <h6>经验等级:  积分:</h6>
                                    </div>
                                    <div class="row">
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                                        </div>
                                    </div>
                                </div>
                              <div class="col-md-4 ">
                                  <a href="/index.php/home/user/mymsginfo" class="btn btn-default">修改资料</a>
                                  <a href="/index.php/home/user/grkj" class="btn btn-default">个人空间</a>
                              </div>
                          </div>
                           <hr>
                           <div class="row">
                               <div class="col-md-3 text-center">
                                   <h3>每日任务</h3>
                               </div>
                           </div>
                           <br>
                           <div class="row text-center">
                               <div class="col-md-3">
                                   <a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">done</i></a>
                                    <h5>每日登入</h5>
                               </div>
                               <div class="col-md-3">
                                   <a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">done</i></a>
                                   <h5>每日发帖</h5>
                               </div>
                               <div class="col-md-3">
                                   <a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">done</i></a>
                                   <h5>每日签到</h5>
                               </div>
                               <div class="col-md-3">
                                   <a href="javascript:void(0)" class="btn btn-default btn-fab btn-info"><i class="material-icons">done</i></a>
                                   <h5>每日回复</h5>
                               </div>

                           </div>
                           <hr>
                           <div class="row">
                               <div class="col-md-3 text-center">
                                   <h3><i class="material-icons">grade</i>成就勋章</h3>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-md-12 text-center">

                                   <h2>该功能暂时没有开启</h2>
                               </div>
                           </div>
                           <hr>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>


</div>
</body>
<script src="__JS__/jquery-2.2.3.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/material.min.js"></script>
<script src="__JS__/ripples.min.js"></script>
<script src="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
<script>
    var insg=$('.sgin').val();
    $('.sgin').on('focus',function () {
        $('.sgin').css('color','black');

    });
    $('.sgin').on('blur',function () {
        var indivi=$('.sgin').val();
        //var insg={};
        if(insg==indivi){
            console.log(111);
        }else{
            $.ajax();
        }
        $('.sgin').css('color','#d6dee4');



    });

</script>
<script>
    $("#dropdown-menu select").dropdown();
</script>
<script>
    $.material.init();
</script>
</html>