<include file="Public:head" />
<div class="container">
    <div class="row">
        <div class="row modulebg">
            <div class="col-md-12 bgmodule">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="moduletext">{$modulebgname}</span></div>
                    <div class="panel-body ">
                        <div class="row">
                            <foreach name="module" item="vi" >
                                <div class="col-md-6">
                                    <div class="list-group">
                                        <div class="list-group-item">
                                            <div class="row-action-primary">
                                                <img class="mdi-action-settings" src="{$vi['img']}"></img>
                                            </div>
                                            <div class="row-content">
                                                <h4 class="list-group-item-heading mudule_lt">{$vi['name']}</h4>
                                                <a href="/index.php/home/module/modulelt?%ls={$vi['id']}&page=1">进入版块</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </foreach>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="__JS__/jquery-2.2.3.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/material.min.js"></script>
<script src="__JS__/ripples.min.js"></script>
<script src="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
<script>
    $("#dropdown-menu select").dropdown();
</script>
<script>
    $.material.init();
</script>
</html>